#welcome{
  // pointer-events: none;
  user-select: none;
}

canvas {
    // position: absolute;
    // top:0;
    // left:0;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, #f0d4c8 0%, #f0d4c8 40%, #eee2d9 40%, #eee2d9 100%);
    // background: #848484;
    // background: linear-gradient(to bottom, #dbbbaa 0%, #dfc1b1 35%, #e6d7c8 35%, #e6d7c8  100%);
    // background: #aee3f2;
    // background: linear-gradient(to bottom, #c9e9f2 0%, #c9e9f2 35%, #aee3f2 35%, #aee3f2  100%);
    // A3E1FF 8ac2ef
}

@mixin phone {
    @media (max-width: 599px) { @content; }
}

.cursor{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 50px;
    height: 50px;
    transform: translate(-25px,-25px);
    .svg-cursor{
        transform-origin: 25px 25px;
    }
    .circle{
        position: absolute;
        top:0;
        left:0;
        transform: translate(-25px,-125px) rotate(90deg);
        stroke-dasharray:270;
        stroke-dashoffset: 270;
    }
    .outer{
    }
    // .outer{
    //     width: 22px;
    //     height: 22px;
    //     border:none;
    //     // border:3px solid #d0b17b;
    //     background: #d0b17b;
    //     border-radius: 50%;
    //     top:0;
    //     left:0;
    //     right:0;
    //     bottom: 0;
    //     position: absolute;
    // }
    // .dot{
    //     position: absolute;
    //     transform: scale(0.75);
    //     top:18px;
    //     left:18px;
    //     right:0;
    //     bottom: 0;
    //     width:10px;
    //     height: 10px;
    //     background: #d0b17b;
    //     border-radius: 50%;
    // }
}
.svg-line{
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}


@keyframes BalloonMouseDown {
    from{
        transform: scale(1)
    }
    to{
        transform: scale(0.75)
    }
}

@keyframes BalloonMouseUp {
    from{
        transform: scale(0.75)
    }
    to{
        transform: scale(1)
    }
}

.BalloonMouseDown{
    animation: BalloonMouseDown .3s forwards;
}

.BalloonMouseUp{
    animation: BalloonMouseUp .3s forwards;
}



.nav{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    .nav-left{
        position: fixed;
        top: 40px;
        left: 50px;
        @include phone{
            font-size: 16px;
            top:3%;
            left:3%;
        }
    }
    .nav-right{
        position: fixed;
        top: 40px;
        right: 50px;
        @include phone{
            font-size: 16px;
            top:3%;
            right:3%;
        }
    }
}


#nextStage{
    position: absolute;
    width:290px;
    height:60px;
    bottom:5%;
    left:0;
    right:0;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 1;
    visibility: visible;
    .mid{
        width:190px;
        height:10px;
        vertical-align: middle;
        position: relative;
        .svg{
            position: absolute;
            top:0;
            right:0;
            transform: rotate(180deg);
            width:200px;
        }
    }
    .nextLeft{
        cursor: pointer;
        position: relative;
        z-index: 2;
        left:0;
        top:0;
    }
    .nextRight{
    }
}
