<div id="Main" class="Background">
  <div id="Golf">
    <svg class="circle" height="200" width="200">
      <circle cx="100" cy="100" r="55" stroke="#fff" stroke-width="5" style="fill-opacity: 0;" />
      <circle cx="100" cy="100" r="54" style="fill-opacity: 0.05;" />
      <circle class="innerCircle" cx="100" cy="100" r="54" stroke="#fff" stroke-opacity=".75" stroke-width="3"
        style="fill-opacity: 0;" />
    </svg>
    <h1 id="Percent"></h1>
    <svg class="svg-cursor">
      <linearGradient id="lgrad" gradientTransform="rotate(45 0.5 0.5)">
        <stop offset="0%" stop-color="#fff" stop-opacity=".8" />
        <stop offset="100%" stop-color="#fff" stop-opacity=".2" />
      </linearGradient>
      <linearGradient id="StarGradient" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0%" stop-color="#ffd700" />
        <stop offset="100%" stop-color="#fbf53a" />
      </linearGradient>
    </svg>
  </div>
  <svg class="svg-line">
    <line class="line" x1="100" y1="100" x2="500" y2="300" stroke-width="6" stroke="url(#lgrad)" fill="#fff" />
  </svg>


  <div class="Text">
    <h1>SOMETHING</h1>
  </div>

  <!-- Slider -->
  <div id="nextStage">
    <div class="nextLeft">
      <!-- Icons made by Dave Gandy from www.flaticon.com -->
      <svg height="40" width="40">
        <circle cx="20" cy="20" r="18" fill="#fff" />
      </svg>
      <svg class="nl-arrow" width="14" height="14" viewBox="0 0 444.819 444.819">
        <path fill="#EEE2D9" xmlns="http://www.w3.org/2000/svg"
          d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264   c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168   c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413   c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864   c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z" />
      </svg>
    </div>
    <div class="mid">
      <svg height="10" width="190" class="svg">
        <circle cx="5" cy="5" r="2" fill="#fff" />
        <circle cx="20" cy="5" r="2" fill="#fff" />
        <circle cx="35" cy="5" r="2" fill="#fff" />
        <circle cx="50" cy="5" r="2" fill="#fff" />
        <circle cx="65" cy="5" r="2" fill="#fff" />
        <circle cx="80" cy="5" r="2" fill="#fff" />
        <circle cx="95" cy="5" r="2" fill="#fff" />
        <circle cx="110" cy="5" r="2" fill="#fff" />
        <circle cx="125" cy="5" r="2" fill="#fff" />
        <circle cx="140" cy="5" r="2" fill="#fff" />
        <circle cx="155" cy="5" r="2" fill="#fff" />
        <circle cx="170" cy="5" r="2" fill="#fff" />
        <circle cx="185" cy="5" r="2" fill="#fff" />
      </svg>
    </div>
    <div class="nextRight">
      <svg class="circle" height="40" width="40">
        <circle cx="20" cy="20" r="18" stroke="#fff" stroke-width="2" style="fill-opacity: 0;" />
      </svg>
      <svg class="nr-check" width="18" height="18" viewBox="0 0 442.533 442.533">
        <clipPath id="check">
          <polygon
            points="434.539 98.499, 395.711 59.671, 376.301 51.678, 356.884 59.671, 169.590 247.248, 85.651 163.023, 66.239 155.031, 46.822 163.023, 7.994 201.852, 0.000 221.269, 7.994 240.685, 111.345 344.034, 150.176 382.862, 169.590 390.856, 189.004 382.862, 227.834 344.034, 434.539 137.330, 442.533 117.913, 434.539 98.499">
          </polygon>
        </clipPath>
        <g clip-path="url(#check)">
          <rect class="active" height="100%" width="100%" fill="#fff" style="transform: translateX(-100%);"></rect>
        </g>
      </svg>
    </div>
  </div>
  <!-- End Slider -->

  <!-- CANVAS -->
  <canvas id="ThreeJSCanvas" oncontextmenu="return false;"></canvas>


    <!-- About -->
  <!-- Button -->
  <button id="about-button">About</button>

  <div id="content-about">
    <!-- Wave -->
    <svg class="wave" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="3" fill="#fafafa" />
      </g>
    </svg>

    <!-- HOME BUTTON -->
    <button id="home-button">
      <div class="Xshape"></div>
    </button>

    <!-- Bar -->
    <div class="bar">
      <h4>About</h4>
      <svg>
        <line class="l0" x1="0" y1="50%" x2="100%" y2="50%"></line>
        <line class="l1" x1="0" y1="50%" x2="33%" y2="50%"></line>
      </svg>
    </div>


    <!-- Content -->
    <div class="slide-container">
      <div class="slide">
        <h3>Hi, I'm a Frontend Developer in Ho Chi Minh, Vietnam</h3>
        <p>I've always enjoyed experimenting with new technologies, working with people and helping designers to turn their ideas to life</p>
        <p>My primary focus is to bring the best experience for the user</p>
      </div>
      <div class="slide">
        <h3>This Project</h3>
        <p>I've always enjoyed experimenting with new technologies, working with people and helping designers to turn their ideas to life</p>
        <p>My primary focus is to bring the best experience for the user</p>
      </div>
    </div>
  </div>
  <!-- End About -->

</div>