<div id="welcome">
    <div class="cursor">
        <!-- <span class="outer"></span> -->
        <!-- <span class="dot"></span> -->
        <svg class="circle" height="100" width="100">
            <circle cx="50" cy="50" r="43" stroke="#fff" stroke-width="6" style="fill-opacity: 0;" />
            <circle class="innerCircle" cx="50" cy="50" r="40" stroke="#fff" stroke-opacity=".7" stroke-width="3"
                style="fill-opacity: 0;" />
        </svg>
        <svg class="svg-cursor">
            <linearGradient id="lgrad" gradientTransform="rotate(45 0.5 0.5)">
                <stop offset="0%" stop-color="#ca9b52" stop-opacity="1" />
                <stop offset="100%" stop-color="#ca9b52" stop-opacity="0" />
            </linearGradient>
            <linearGradient id="StarGradient" x1="0%" y1="0%" x2="0%" y2="100%">
                <stop offset="0%" stop-color="#ffd700" />
                <stop offset="100%" stop-color="#fbf53a" />
              </linearGradient>
            <defs>
                <mask id="mask" x="0" y="0" width="50" height="50">
                    <circle class="outer" cx="25" cy="25" r="13" fill="#fff" />
                    <circle class="inner" cx="25" cy="25" r="0" />
                </mask>
            </defs>
            <rect x="0" y="0" width="50" height="50" mask="url(#mask)" fill="#ca9b52" fill-opacity="1" />
        </svg>
    </div>
    <svg class="svg-line">
        <line class="line" x1="100" y1="100" x2="500" y2="300" stroke-width="10" stroke="url(#lgrad)" fill="#fff" />
    </svg>
    <div class="nav">
        <a class="nav-left">Rozetta</a>
        <a class="nav-right">About</a>
    </div>
    <div id="nextStage">
        <div class="nextLeft">
            <svg height="40" width="40">
                <circle cx="20" cy="20" r="18" fill="#fff" />
            </svg>
        </div>
        <div class="mid">
            <svg height="10" width="190" class="svg">
                <circle cx="5" cy="5" r="2" fill="#fff" />
                <circle cx="20" cy="5" r="2" fill="#fff" />
                <circle cx="35" cy="5" r="2" fill="#fff" />
                <circle cx="50" cy="5" r="2" fill="#fff" />
                <circle cx="65" cy="5" r="2" fill="#fff" />
                <circle cx="80" cy="5" r="2" fill="#fff" />
                <circle cx="95" cy="5" r="2" fill="#fff" />
                <circle cx="110" cy="5" r="2" fill="#fff" />
                <circle cx="125" cy="5" r="2" fill="#fff" />
                <circle cx="140" cy="5" r="2" fill="#fff" />
                <circle cx="155" cy="5" r="2" fill="#fff" />
                <circle cx="170" cy="5" r="2" fill="#fff" />
                <circle cx="185" cy="5" r="2" fill="#fff" />
            </svg>
        </div>
        <div class="nextRight">
            <svg class="circle" height="40" width="40">
                <circle cx="20" cy="20" r="18" stroke="#fff" stroke-width="3" style="fill-opacity: 0;" />
            </svg>
        </div>
    </div>
    <canvas id="welcomeCanvas"></canvas>
</div>