#Main{
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@mixin PhoneTablet{
  @media screen and (max-width: 1025px){
    @content;
  }
}
@mixin TouchDevice{
  @media (hover:none) {
    @content;
  }
}

.Background{
  --BGPercent: 30%;
  width:100vw;
  height: 100vh;
  opacity: 1;
  background: linear-gradient(
    to bottom,
    #f0d4c8 0%,
    #f0d4c8 var(--BGPercent),
    #eee2d9 var(--BGPercent),
    #eee2d9 100%
  );
  background:linear-gradient(
    to bottom,
    #e5c2b6 0%,
    #e5c2b6 var(--BGPercent),
    #e8d8cd var(--BGPercent),
    #e8d8cd 100%
  );
  @include PhoneTablet{
    --BGPercent: 28%;
  }

  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
    #bad2ad 0%,
    #bad2ad var(--BGPercent),
    #cdd9c6 var(--BGPercent),
    #cdd9c6 100%
    );
    opacity: 0;
    transition: opacity 1s;
    transition-timing-function: ease-in-out;
    z-index: -1;
  }
  &.BG2::before{
    opacity: 1;
  }
  &.BG3::before{
    background:linear-gradient(
      to bottom,
      #e5c2b6 0%,
      #e5c2b6 var(--BGPercent),
      #e8d8cd var(--BGPercent),
      #e8d8cd 100%
    );
  }
}

#ThreeJSCanvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}


#Golf{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  touch-action: none;
  z-index: 2;
  width: 200px;
  height: 200px;
  // .svg-cursor{
  //     transform-origin: 25px 25px;
  // }
  .circle{
    position: absolute;
    top:0;
    left:0;
    transform: translate(-100px,-200px) rotate(90deg);
    stroke-dasharray:345;
    stroke-dashoffset: 345;
  }
  h1{
    color:#fff;
    text-align: center;
    transform: translate(-100px, -145px);
    font-size: 2.2rem;
  }
}
.svg-line{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}

.Golf{
  pointer-events: none;
}


.Text{
  position: absolute;
  pointer-events: none;
  touch-action: none;
  visibility: hidden;
  z-index: 2;
  left:0;
  right:0;
  top: 32%;
  color: #fff;
  text-align: center;
  #Introduction-span{
    display: block;
    font-family: 'Mogra';
    // font-family: 'Salsa';
    font-size: 2rem;
    opacity: 0;
  }
  #Introduction-h3{
    font-family: 'Mogra';
    font-family: 'Lemonada';
    font-family: 'Mikado Bold';
    font-weight: 700;
    font-size: 4rem;
    margin: -0px 0;
    letter-spacing: 2px;
    opacity: 0;
    transform: translateY(25%);
  }
  @include PhoneTablet{
    top:20%;
    #Introduction-span{
      font-size: 1.8rem;
    }
    #Introduction-h3{
      font-size: 3.2rem;
    }
  }
}

#nextStage{
  position: absolute;
  width:290px;
  height:40px;
  top:90%;
  bottom:0%;
  transform: translate(-50%,0%);
  left: 50%;
  right: 0;
  margin:0;
  display: flex;
  justify-content: space-between;
  user-select: none;
  touch-action: none;
  align-items: center;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
  .mid{
    width:190px;
    height:10px;
    vertical-align: middle;
    position: relative;
    top:-1px;
    .svg{
      position: absolute;
      top:0;
      right:0;
      transform: rotate(180deg);
      width:200px;
    }
  }
  .nextLeft{
    cursor: pointer;
    position: relative;
    z-index: 2;
    .nl-arrow{
      position: absolute;
      left:14px;
      top:14px;
    }
  }
  .nextRight{
    position: relative;
    .nr-check{
      position: absolute;
      left:11px;
      top:11px;
      @include TouchDevice{
        transform: rotate(-90deg);
      }
    }
  }
  @include TouchDevice{
    transform: translate(-50%,-65%) rotate(90deg) scale(0.65);
    left: 94%;
    right: 0%;
    top:50%;
  }
}

#content-about{
  position: absolute;
  touch-action: none;
  
  cursor: default;
  top:130%;
  right:0%;
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  transition: all 1s ease;
  z-index: 3;
  // visibility: hidden;
  opacity: .4;
  .decoration{
    width:100%;
    height:100%;
    position: absolute;
    pointer-events: none;
    touch-action: none;
    top: 0;
    left: 0;
    span{
      width: 1px;
      height: 100%;
      background: #f0f0f0;
      position: absolute;
      top:0%;
      left:0%;
    }
    span:nth-child(1){
      left:14%;
    }
    span:nth-child(2){
      left:32%;
    }
    span:nth-child(3){
      left:50%;
    }
    span:nth-child(4){
      left:68%;
    }
    span:nth-child(5){
      left:86%;
    }
    .dots{
      position: absolute;
      top:20%;
      left:65.15%;
      @include PhoneTablet{
        transform: scale(.75);
        left: 60%;
        top: 10%;
      }
      .svg{
        display: block;
        circle{
          cy:5;
          r:1;
          fill:#bbbbbb;
        }
      }
    }
  }
  .wave{
    width: 100%;
    height:30%;
    position: relative;
    left:0;
    top:0;
    transform: translateY(-99%);
    opacity: 1;
    use{
      animation: WaveMove 5s cubic-bezier(.55, .5, .45, .5) infinite;
    }
  }
  .bar{
    pointer-events: none;
    touch-action: none;
    position: absolute;
    top: 30%;
    left: 27%;
    width: 210px;
    height: 10px;
    @include PhoneTablet{
      top:22%;
      left:15%;
    }
    h4{
      font-family: 'Montserrat';
      font-weight: 500;
      color:#000000;
      margin: 0px 0;
      font-size: .9rem;
    }
    svg{
      width: 100%;
      height: 100%;
    }
    .l0{
      stroke-width: 1px;
      stroke:#cfcfcf;
    }
    .l1{
      stroke-width: 1px;
      stroke:#000000;
    }
  }
  .slide-container{
    width: 46%;
    height: 40vh;
    margin: 0 auto;
    top: 4%;
    position: relative;
    overflow: hidden;
    .slide-wrapper{
      width:100%;
      height: 300%;
      display: flex;
      flex-direction: column;
      transform: translateY(0);
      // transform: translateY(-33%);
      .slide{
        // background: #F5F2EB;
        width:100%;
        height: 33%;
        color: #616161;
        font-family: 'Quicksand';
        h3{
          width:100%;
          font-size: 2rem;
          margin: 10px 0 35px 0;
          font-weight: 700;
          @include PhoneTablet{
            font-size: 1.2rem;
            margin: 5px 0 15px 0;
          }
        }
        p{
          width:90%;
          font-size: 1.2rem;
          line-height: 1.8rem;
          font-weight: 600;
          svg{
            padding: 0 12px 0 0px;
            vertical-align: middle;
          }
          @include PhoneTablet{
            font-size: .8rem;
            line-height: 1rem;
            width: 100%;
            svg{
              transform: scale(.75);
            }
          }
        }
        a{
          color:inherit;
          text-underline-offset: 1px;
        }
      }
    }
    @include PhoneTablet{
      width: 70%;
      height: 60vh;
      top:0%;
    }
  }
  .scroll{
    user-select: none;
    pointer-events: none;
    touch-action: none;
    position: absolute;
    top: 77%;
    left: 27%;
    display: flex;
    align-items: center;
    @include PhoneTablet{
      display: none;
      top:80%;
      left:12.5%;
      transform: scale(.75);
    }
    .mouse{
      width: 17px;
      height: 26px;
      border: 2px solid #757575;
      border-radius: 16px;
      span{
        position: relative;
        top:0%;
      }
      span:after{
        content: "";
        display: block;
        width: 3px;
        height: 7px;
        border-radius: 50%;
        position: relative;
        top: -13px;
        left: 7px;
        background: #757575;
      }
    }
    p{
      font-family: 'Montserrat';
      font-weight: 500;
      color: #000000;
      margin: 0 9px;
      font-size: .8rem;
    }

    .MOBILE{
      display: none;
    }
    @include PhoneTablet{
      .MOBILE{
        display: block;
      }
      .PC{
        display: none;
      }
    }

  }
}

#content-about.open{
  top:0%;
  // visibility: visible;
  opacity: 1;
}

@keyframes WaveMove{
  0%{
    transform: translateX(-87px);
  }
  100%{
    transform: translateX(89px);
  }
}

#about-button{
  font-family: 'Quicksand';
  font-family: 'Mikado Bold';
  font-family: 'Montserrat';
  color: #fff;
  user-select: none;
  border: none;
  background: none;
  display: inline-block;
  font-size: 1.3rem;
  letter-spacing: 0px;
  font-weight: 600;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  outline: none;
  position: absolute;
  top:6%;
  right:5%;
  text-align: center;
  &:after{
    position: absolute;
    content:"";
    right:0;
    width: 0;
    bottom:-4px;
    background:#fff;
    height:3px;
    transition: width 0.3s ease-out;
    @include PhoneTablet{
      display: none;
    }
  }
  &:hover:after{
    left: 0;
    right: auto;
    width: 100%;
  }
  @include PhoneTablet{
    font-size: 1rem;
    top:6%;
    left:2%;
    width: 80px;
  }
}


#home-button{
  color: #000000;
  border: none;
  background: none;
  user-select: none;
  font-size: 1.8rem;
  letter-spacing: 0px;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  position: absolute;
  top:7%;
  right:6%;
  width:46px;
  height:46px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  transition: transform .3s ease;
  @include PhoneTablet{
    transform: scale(.6);
    top:6%;
    left: 3.5%;
  }
  &.animation{
    animation: XshapeAnimation .6s ease;
  }
  .Xshape{
    background: #000000;
    width: 46px;
    height: 6px;
    border-radius: 15px;
    transform: rotate(45deg);
  }
  .Xshape:before{
    content: "";
    display: block;
    transform: rotate(90deg);
    background: #000000;
    height: 6px;
    width:46px;
    min-height: 100%;
    min-width:100%;
    border-radius: 15px;
  }
}
@keyframes XshapeAnimation{
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(28deg);
  }
  50%{
    transform: rotate(-8deg);
  }
  70%{
    transform: rotate(8deg);
  }
  90%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}


#portrait{
  position: absolute;
  z-index: 3;
  background: rgba(255,255,255,1);
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 2s ease-in-out;
  .smartphone{
    width: 105px;
    height: 205px;
    border: 8px solid #000;
    border-radius: 22px;
    animation: rotateDown 4s ease-in-out infinite;
  }
  &.ready{
    opacity: .75;
    visibility: visible;
  }
  @media screen and (orientation: landscape) {
    &.ready{
      opacity: 0;
      visibility: hidden;
    }
  }
}

@keyframes rotateDown{
  0%{
    opacity: 0;
    transform: rotate(0deg);
  }
  20%{
    opacity: 1;
  }
  40%{
    transform: rotate(90deg);
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(90deg);
  }
}