<div id="CaseStudy">
  <div class="container">
    <!-- LOGO -->
    <!-- <div class="logo">
      <div class="image">
        <img src="assets/images/logo.png" alt="">
      </div>
      <p>TRAN VINH NHAN<span>FRONTEND DEVELOPER</span></p>
    </div> -->
    <div id="portrait">
      <p>COMING SOON</p>
    </div>
    <div class="CSscroll">
      <div class="mouse"><span>&nbsp;</span></div>
      <p class="PC">SCROLL DOWN</p>
      <p class="MOBILE">SWIPE UP</p>
    </div>
    <div class="menu">
      <div class="menuSlider">
        <div class="introduction subMenu">
          <p>INTRODUCTION</p>
          <svg>
            <line class="l0" x1="0" y1="50%" x2="100%" y2="50%"></line>
            <line class="l1" x1="0" y1="50%" x2="50%" y2="50%"></line>
          </svg>
        </div>
        <div class="research subMenu">
          <p>RESEARCH</p>
          <svg>
            <line class="l0" x1="0" y1="50%" x2="100%" y2="50%"></line>
            <line class="l1" x1="0" y1="50%" x2="33%" y2="50%"></line>
          </svg>
        </div>
        <div class="ideation subMenu">
          <p>IDEATION</p>
          <svg>
            <line class="l0" x1="0" y1="50%" x2="100%" y2="50%"></line>
            <line class="l1" x1="0" y1="50%" x2="25%" y2="50%"></line>
          </svg>
        </div>
        <div class="challenge subMenu">
          <p>CHALLENGE</p>
          <svg>
            <line class="l0" x1="0" y1="50%" x2="100%" y2="50%"></line>
            <line class="l1" x1="0" y1="50%" x2="33%" y2="50%"></line>
          </svg>
        </div>
      </div>
    </div>
    <div class="sideMenu">
      <div class="sideMenuSlider">
        <div class="introduction subMenu" (click)="sideIntroduction()">
          <svg>
            <line class="l0" x1="0%" y1="50%" x2="100%" y2="50%"></line>
          </svg>
          <!-- <p>INTRODUCTION</p> -->
          <p>Under Development</p>
        </div>
        <div class="research subMenu" (click)="sideResearch()">
          <svg>
            <line class="l0" x1="40%" y1="50%" x2="100%" y2="50%"></line>
          </svg>
          <!-- <p>RESEARCH</p> -->
          <p>Under Development</p>
        </div>
        <div class="ideation subMenu" (click)="sideIdeation()">
          <svg>
            <line class="l0" x1="40%" y1="50%" x2="100%" y2="50%"></line>
          </svg>
          <!-- <p>IDEATION</p> -->
          <p>Under Development</p>
        </div>
        <div class="challenge subMenu" (click)="sideChallenge()">
          <svg>
            <line class="l0" x1="40%" y1="50%" x2="100%" y2="50%"></line>
          </svg>
          <!-- <p>CHALLENGE</p> -->
          <p>Under Development</p>
        </div>
      </div>
    </div>
    <div class="dots">
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
    </div>
    <div id="imageRoll">
      <div class="subImage">
        <img src="assets/images/Cover01.jpg" alt="">
        <img src="assets/images/Cover02.jpg" alt="">
        <img src="assets/images/Cover03.jpg" alt="">
        <img src="assets/images/Cover01.jpg" alt="">
      </div>
    </div>
    <div class="slider-wrapper">
      <div class="slider">
        <div class="introduction slide">
          <h4>Portfolio - Case Study</h4>
          <p>
            All the advice suggests you should be honest, to let the recruiter know your thought process. And that is the core of this case study.<br>
          </p>
        </div>
        <div class=" slide">
          <h4>Note</h4>
          <p>When started this project, I always write my ideas on a drawing sketchbook.<br>
            My dumb ass didn't think of capture it or store it digitally, and one day, the sketchbook drop on a bucket of water, So this case study missing a lot of images about the process.<br>
            I'll do my best to describe it in the text and related pictures.
          </p>
        </div>
        <div class=" slide">
          <h4>The Goal</h4>
          <p>- Create a unique Portfolio to demonstrate my skills.</p>
          <p>- Practice, Practice, Practice.</p>
          <p>- Embrace failure.</p>
        </div>
        <div class=" slide">
          <h4>Research</h4>
          <p>I think this is the most fun part. I spent days browsing Awwwards.com for inspiration and ideas.<br>
            The most memorable sites usually have these tag:<br>
            Web and Interactive, Clean, Minimal, 3D, Animation.<br>
            <br>
            After that, I discover the Awwwards winner of the year sites.
            I noticed from 2018 to 2019, 3D trend are rising, winner sites that use WebGL go from 5/7 to 7/7.
          </p>
          <div class="SingleImage">
            <img src="assets/images/winner.jpg" alt="">
          </div>
        </div>
        <div class=" slide">
          <h4>Objective</h4>
          <p>After lots of notes, insight, inspiration, The questions start to come up:<br>
            - What make a website memorable?<br>
            - What action for the user?<br>
            - How to keep the user engaged?<br>
            <br>
            And I find these to be the objective:<br>
            An interactive, 3d experience, with minimal and clean design.<br>
          </p>
        </div>
        <div class=" slide">
          <h4>First Idea</h4>
          <p>The first thing I thought of is to use Threejs and particle effect.<br>
            My original design is the cursor will react with the surrounding particle, suck in, pull out. The effect, particle, background change along with page position.<br><br>
            The main inspiration for this is <a href="https://squilla.io/" target="_blank">squilla.io</a>. Made by RedCollar Agency.<br>
            Of course, Mine couldn't be this beautiful. It is much worse.
          </p>
          <div class="SingleImage">
            <img src="assets/images/redcollar.jpg" alt="">
          </div>
        </div>
        <div class=" slide">
          <h4>First Idea - Rejected</h4>
          <p>After finished the first scene, I noticed there a lot of disadvantages when using particle: isn't suit for mobile, there not much meaning to it, get bored really fast.<br>
            And after show it to my friend, the result is indeed correct. The scene only able to keep them engaged for 10 seconds, and there nothing memorable.<br>
            It has great potential, but I don't know how to bring it out.
          </p>
        </div>
        <div class=" slide">
          <h4>Second Idea - Rejected</h4>
          <p>My second idea comes and goes really fast, Using CannonJS, a physic library, I simulate a fire extinguisher, you control the pipe using the mouse to shoot smoke and it will push other objects like a box, and sphere around it.<br>
            It's fun, I play, test with it for hours. my friend having fun with it too.<br>
            But the problem appears when I check the Task Manager, It uses more than 35% CPU on my i5-8400, 30% GPU GTX-1060.<br>
            Without a doubt no way this page gonna work smoothly on mobile. <br>
          </p>
          <div class="SingleImage">
            <img src="assets/images/extinguisher.jpg" alt="">
          </div>
        </div>
        <div class=" slide">
          <h4>Third Idea - Final</h4>
          <p>After 2 rejected ideas, I got a lot better at narrowing the scope, how to plan the full-page experience from start to end.<br>
            The ideas simple, an amusement park, I make animation for the 3d model, and it plays when the user clicks. and it works.<br><br>
            It's amazing how when you got the foundation right, ideas for the rest of the sites just come naturally, The detail of the user flow map keeps getting clearer.
          </p>
        </div>
        <div class=" slide">
          <h4>Challenge & Lesson</h4>
          <p>
            The scope of this project is too much, I can't keep up with it, Lots of things are new, I have to learn from scratch.
            After getting out of my comfort zone and started asking more questions, more people to help. I quickly realized:<br>
            The fastest way to learn something is to learn from others.<br><br>
            And all my struggles with 3D model, design, web performance is resolved one after another.
          </p>
        </div>
        <div class=" slide">
          <h4>Summary</h4>
          <p>
            - 3D model too much polygons, heavy<br>
            => Low poly design, art style becomes more consistent, lighter model, good performance.<br><br>
            - Animation, the physic library can't run smoothly at 60fps <br>
            => TweenMax, requestAnimationFrame, now it runs smoothly and scales with the device refresh rate.<br><br>
            - The default lighting and shadow use too much CPU, GPU<br>
            => Use matcap and shadow textures.<br><br>
          </p>
        </div>
        <div class=" slide">
          <h4>Result</h4>
          <p>
            The site complete with all my original objectives. But I don't know how to get feedback. I will keep on learning.<br><br>
            I hoped this Portfolio proved how much passion I have for Web development, The length I would go for a good product.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>