<div id="CaseStudy">
  <div class="container">
    <!-- LOGO -->
    <!-- <div class="logo">
      <div class="image">
        <img src="assets/images/logo.png" alt="">
      </div>
      <p>TRAN VINH NHAN<span>FRONTEND DEVELOPER</span></p>
    </div> -->
    <div id="portrait">
      <p>COMING SOON</p>
    </div>
    <div class="scroll">
      <div class="mouse"><span>&nbsp;</span></div>
      <p class="PC">SCROLL DOWN</p>
      <p class="MOBILE">SWIPE UP</p>
    </div>
    <div class="menu">
      <div class="menuSlider">
        <div class="introduction subMenu">
          <p>INTRODUCTION</p>
          <svg>
            <line class="l0" x1="0" y1="50%" x2="100%" y2="50%"></line>
            <line class="l1" x1="0" y1="50%" x2="50%" y2="50%"></line>
          </svg>
        </div>
        <div class="research subMenu">
          <p>RESEARCH</p>
          <svg>
            <line class="l0" x1="0" y1="50%" x2="100%" y2="50%"></line>
            <line class="l1" x1="0" y1="50%" x2="33%" y2="50%"></line>
          </svg>
        </div>
        <div class="ideation subMenu">
          <p>IDEATION</p>
          <svg class="bar">
            <line class="l0" x1="0" y1="50%" x2="100%" y2="50%"></line>
            <line class="l1" x1="0" y1="50%" x2="25%" y2="50%"></line>
          </svg>
        </div>
        <div class="conclusion subMenu">
          <p>CONCLUSION</p>
          <svg class="bar">
            <line class="l0" x1="0" y1="50%" x2="100%" y2="50%"></line>
            <line class="l1" x1="0" y1="50%" x2="100%" y2="50%"></line>
          </svg>
        </div>
      </div>
    </div>
    <div class="sideMenu">
      <div class="sideMenuSlider">
        <div class="introduction subMenu" (click)="sideIntroduction()">
          <svg>
            <line class="l0" x1="0%" y1="50%" x2="100%" y2="50%"></line>
          </svg>
          <p>INTRODUCTION</p>
        </div>
        <div class="research subMenu">
          <svg>
            <line class="l0" x1="40%" y1="50%" x2="100%" y2="50%"></line>
          </svg>
          <p>RESEARCH</p>
        </div>
        <div class="ideation subMenu">
          <svg>
            <line class="l0" x1="40%" y1="50%" x2="100%" y2="50%"></line>
          </svg>
          <p>IDEATION</p>
        </div>
        <div class="conclusion subMenu">
          <svg>
            <line class="l0" x1="40%" y1="50%" x2="100%" y2="50%"></line>
          </svg>
          <p>CONCLUSION</p>
        </div>
      </div>
    </div>
    <div class="dots">
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
      <svg height="10" width="240" class="svg">
        <circle cy="5" r="1" cx="5"/><circle cy="5" r="1" cx="15"/><circle cy="5" r="1" cx="25"/><circle cy="5" r="1" cx="35"/><circle cy="5" r="1" cx="45"/><circle cy="5" r="1" cx="55"/><circle cy="5" r="1" cx="65"/>
        <circle cy="5" r="1" cx="75"/><circle cy="5" r="1" cx="85"/><circle cy="5" r="1" cx="95"/><circle cy="5" r="1" cx="105"/><circle cy="5" r="1" cx="115"/><circle cy="5" r="1" cx="125"/><circle cy="5" r="1" cx="135"/>
        <circle cy="5" r="1" cx="145"/><circle cy="5" r="1" cx="155"/><circle cy="5" r="1" cx="165"/><circle cy="5" r="1" cx="175"/><circle cy="5" r="1" cx="185"/><circle cy="5" r="1" cx="195"/><circle cy="5" r="1" cx="205"/>
        <circle cy="5" r="1" cx="215"/><circle cy="5" r="1" cx="225"/><circle cy="5" r="1" cx="235"/><circle cy="5" r="1" cx="245"/><circle cy="5" r="1" cx="255"/>
      </svg>
    </div>
    <div class="slider">
      <div class="introduction slide">
        <h4>Portfolio - Case Study</h4>
        <p>This project took me a year to finished. I encounter many failures, mistakes, from design to development, But I don't regret any second of it.<br><br>
          All the advice suggests you should honest in your case study, to let the recruiter know your thought process.<br>
          I assured you, this case study couldn't be more honest.
        </p>
        <div id="imageRoll">
          <div class="subImage">
            <img src="assets/images/Cover01.jpg" alt="">
            <img src="assets/images/Cover02.jpg" alt="">
            <img src="assets/images/Cover03.jpg" alt="">
            <img src="assets/images/Cover01.jpg" alt="">
          </div>
        </div>
      </div>
      <div class=" slide">
        <h4>*Notes</h4>
        <p>When started this project, I always write my ideas on a drawing sketchbook.<br>
          My dumb ass didn't think of capture it or store it digitally, and one day, the sketchbook drop on a bucket of water, So this case study missing a lot of images about the process.<br>
          I'll do my best to describe it in the text and related pictures.
        </p>
      </div>
      <div class=" slide">
        <h4>The Goal</h4>
        <p>- Create a unique Portfolio to demonstrate my skills.</p>
        <p>- Practice, Practice, Practice.</p>
      </div>
      <div class=" slide">
        <h4>Research</h4>
        <p>I think this is the most fun part. I spent days browsing Awwwards.com for inspiration and ideas.<br>
          I realized the sites I spent more time with usually have these tag:<br>
          Web and Interactive, Clean, Minimal, 3D, Animation.<br>
          <br>
          After that, I discover the Awwwards winner of the year sites.
          I noticed from 2018 to 2019, Sites that use WebGL go from 5/7 to 7/7
        </p>
        <div class="SingleImage">
          <img src="assets/images/winner.jpg" alt="">
        </div>
      </div>
      <div class=" slide">
        <h4>Objective</h4>
        <p>After lots of notes, insight, inspiration, I decided on the Portfolio want to create:<br>
          An interactive, 3d experience, with minimal and clean design.</p>
      </div>
      <!-- End INTRODUCTION -->
      <div class=" slide">
        <h4>First Idea</h4>
        <p>The first thing I thought of is to use Threejs and particle effect, the action for user is just 2 simple gestures: click and hold.<br>
          My original design is the cursor will react with the surrounding particle, suck in, pull out. The effect, particle, background change along with page position.<br><br>
          The main inspiration for this is <a href="https://squilla.io/" target="_blank">squilla.io</a>. Made by RedCollar Agency.<br>
          Of course, Mine couldn't be this beautiful. It is much worse.
        </p>
        <div class="SingleImage">
          <img src="assets/images/redcollar.jpg" alt="">
        </div>
      </div>
      <div class=" slide">
        <h4>First Idea - Rejected</h4>
        <p>After finished the first scene, I noticed there a lot of disadvantages when using particle: isn't suit for mobile, there not much meaning to it, get bored really fast.<br>
          And after show it to my friend, the result is indeed correct. The scene only able to keep them engaged for 10 seconds, and there nothing memorable.<br>
          It has great potential, but I don't know how to bring it out.
        </p>
      </div>
      <div class=" slide">
        <h4>Second Idea - Rejected</h4>
        <p>My second idea comes and goes really fast, Using CannonJS, a physic library, I simulate a fire extinguisher, you control the pipe using the mouse to shoot smoke and it will push other objects like a box, and sphere around it.<br>
          It's fun, I play, test with it for hours. my friend having fun with it too.<br>
          But the problem appears when I check the Task Manager, It uses more than 35% CPU on my i5-8400, 30% GPU GTX-1060.<br>
          Without a doubt no way this page gonna work smoothly on mobile. <br>
        </p>
        <div class="SingleImage">
          <img src="assets/images/extinguisher.jpg" alt="">
        </div>
      </div>
      <div class=" slide">
        <h4>Third Idea - Final</h4>
        <p>After 2 rejected ideas, I got a lot better at narrowing the scope, how to plan the full-page experience from start to end.<br>
          The ideas simple, an amusement park, I make animation for the 3d model, and it plays when the user clicks. and it works.<br>
          It's amazing how when you got the foundation right, ideas for the rest of the sites just come naturally.
        </p>
      </div>
      <div class=" slide">
        <h4>Conclusion</h4>
        <p>If you are a recruiter reading this. I know there is still a lot of thing missing here, It wouldn't qualify to be a case study.<br>
          How is the design process, the challenge I faced, what my solution, v.v. are all missing.<br>
          Because it would make this page really long, and I believed I would explain it better in the interview.<br>
          <br>
          I hoped this Portfolio proved how much passion I got for Web development, The length I would go for a good product.
        </p>
      </div>
    </div>
  </div>
</div>