@mixin S640{
  @media screen and (max-width: 900px){
    @content;
  }
}
@mixin S900{
  @media screen and (max-width: 900px){
    @content;
  }
}
@mixin S1200{
  @media screen and (max-width: 1200px){
    @content;
  }
}
@mixin S1440{
  @media screen and (max-width: 1440px){
    @content;
  }
}
@mixin TouchDevice{
  @media (hover:none) {
    @content;
  }
}

#CaseStudy{
  width: 100%;
  height: 100%;
  // background-image: url('src/assets/images/groovepaper.png');
  background: #f5f5f5;
  font-family: 'Roboto';
  position: relative;
  #CSportrait{
    position: absolute;
    z-index: 3;
    background: rgba(255,255,255,1);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 2s ease-in-out;
    .smartphone{
      width: 105px;
      height: 205px;
      border: 8px solid #000;
      border-radius: 22px;
      animation: rotateDown 4s ease-in-out infinite;
    }
    &.ready{
      opacity: .85;
      visibility: visible;
    }
    @media screen and (orientation: landscape) {
      &.ready{
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  
  @keyframes rotateDown{
    0%{
      opacity: 0;
      transform: rotate(0deg);
    }
    20%{
      opacity: 1;
    }
    40%{
      transform: rotate(90deg);
    }
    80%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform: rotate(90deg);
    }
  }
  .logo{
    position: absolute;
    top: 7%;
    left: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p{
      color: #212121;
      font-size: 1.2rem;
      margin: 0 15px;
      span{
        display: block;
        font-size: .6rem;
      }
    }
    .image{
      width: 54px;
      height: 54px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
  .CSscroll{
    user-select: none;
    pointer-events: none;
    touch-action: none;
    position: absolute;
    top: 85%;
    left: 20%;
    display: flex;
    align-items: center;
    @include S1440{
      left: 15%;
    }
    @include TouchDevice{
      display: none;
      top:80%;
      left:12.5%;
      transform: scale(.75);
    }
    .mouse{
      width: 17px;
      height: 26px;
      border: 2px solid #757575;
      border-radius: 16px;
      span{
        position: relative;
        top:0%;
      }
      span:after{
        content: "";
        display: block;
        width: 3px;
        height: 7px;
        border-radius: 50%;
        position: relative;
        top: -13px;
        left: 7px;
        background: #757575;
      }
    }
    p{
      font-family: 'Montserrat';
      font-weight: 500;
      color: #000000;
      margin: 0 9px;
      font-size: .8rem;
    }
  }
  .container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .menu{
    position: absolute;
    width: 200px;
    height: 50px;
    overflow: hidden;
    top:22%;
    left:20%;
    @include S1440{
      top:20%;
      left: 15%;
    }
    @include S900{
      top:5%;
      left: 6%;
    }
    .menuSlider{
      display: flex;
      width: 400%;
      height: 50px;
      flex-direction: row;
      transform: translateY(0);
      .subMenu{
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p{
          font-family: 'Montserrat';
          color: #616161;
          font-weight: 500;
          font-size: .9rem;
          margin: 10px 0;
        }
        svg{
          width: 100%;
          height: 2px;
        }
        .l0{
          stroke-width: 1px;
          stroke:#cfcfcf;
        }
        .l1{
          stroke-width: 1px;
          stroke:#000000;
        }
      }
      .introduction{

      }
    }
  }
  .sideMenu{
    position: absolute;
    width: 80px;
    height: 30px;
    text-align: left;
    top:45%;
    transform: translateY(-50%);
    right:5%;
    z-index: 2;
    user-select: none;
    touch-action: none;
    @include S900{
      right: 1%;
      transform: translateY(-50%) ;
    }
    .sideMenuSlider{
      display: flex;
      width: 100%;
      height: 48px;
      flex-direction: column;
      transition: all .3s ease-in-out;
      .subMenu{
        height: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        p{
          font-family: 'Montserrat';
          color: #616161;
          font-weight: 500;
          font-size: .95rem;
          margin: 0px 10px;
          position: absolute;
          right:110%;
          display: none;
        }
        .line{
          outline: none;
          user-select: none;
          touch-action: none;
          margin-left: 40%;
          width: 100%;
          height: 1px;
          transition: all .3s ease-out;
        }
        .l0{
          stroke-width: 1px;
          stroke:#757575;
        }
        .active{
          margin-left: 0%;
          transform: none;
        }
        &:hover{
          cursor: pointer;
          .line{
            transform: scaleX(1.2) translateX(-6%);
          }
          p{
            display: inline-block;
            @include S900{
              display: none;
            }
          }
        }
      }
    }
  }
  .slider-wrapper{
    height: 75%;
    overflow: hidden;
    position: relative;
    transform: translateY(-50%);
    top: 66%;
    @include S900{
      height: 92%;
    }
  }
  #imageRoll{
    position: absolute;
    width: 32%;
    max-width: 400px;
    max-height: 532px;
    transform:translateY(-50%);
    overflow: hidden;
    top:50%;
    right: 18%;
    
    @include S1440{
      max-width: calc(400px*.9);
      max-height: calc(532px*.9);
      right:16%;
    }
    @include S1200{
      max-width: calc(400px*.75);
      max-height: calc(532px*.75);
      right:14%;
    }
    @include S900{
      max-width: calc(400px*.5);
      max-height: calc(532px*.5);
      right:14%;
    }
    .subImage{
      width: 100%;
      height: 400%;
      display: flex;
      flex-direction: column;
    }
    img{
      width: 100%;
      height: 25%;
      display: block;
    }
  }
  .slider{
    width: 60%;
    margin: 0 auto;
    height: 1200%;
    display: flex;
    flex-direction: column;
    transform: translateY(0);
    @include S1440{
      width: 70%;
    }
    @include S900{
      width: 88%;
    }
    .slide{
      height: 10%;
      margin: 0;
      color:#212121;
      position: relative;
      h4{
        font-size: 1.8rem;
        margin: 25px 0;
        @include S1200{
          font-size: 1.6rem;
        }
        @include S900{
          font-size: 1.2rem;
          margin: 15px 0;
        }
        @include S640{
          margin: 10px 0;
        }
      }
      p{
        font-size: 1rem;
        width: 50%;
        line-height: 24px;
        @include S1200{
          font-size: .9rem;
          line-height: 20px;
        }
        @include S900{
          font-size: .8rem;
          line-height: 16px;
          width: 55%;
        }
      }
    }
    .SingleImage{
      position: absolute;
      width: 40%;
      transform:translateY(-50%);
      top:28%;
      right: 0%;
      @include S900{
        width: 30%;
        top: 30%;
        right: 7%;
      }
      img{
        width: 100%;
        height: 100%;
        display: block;
        border: 1px solid #ccc
      }
    }
    .TwoPart{
      display: flex;
      flex-direction: row;
      width:100%;
      .Part{
        padding: 0 30px;
        flex:1;
      }
      .Part + .Part{
        border-left: 1px solid #212121;
      }
      p{
        width: 90%;
      }
    }
  }

  .dots{
    user-select: none;
    position: absolute;
    top:25%;
    transform:translateY(-50%) scale(.88);
    right:16%;
    .svg{
      display: block;
      circle{
        cy:5;
        r:1;
        fill:#bbbbbb;
      }
    }
    @include S900{
      display: none;
    }
  }
}